<h1>Calculadora de promedio de edades</h1>
<div>
  <label for="edadUno">Ingrese Edad 1: </label>
  <input type="number" [(ngModel)]="edades[0]" name="edadUno" id="edadUno">
</div>
<div>
  <label for="edadDos">Ingrese Edad 2: </label>
  <input type="number" [(ngModel)]="edades[1]" name="edadDos" id="edadDos">
</div>
<div>
  <input type="button" (click)="mostrarPromedio()" value="calcular">
  <input type="button" (click)="resetearTodas()" value="limpiar cuadros de texto">
</div>
<div>
  <label for="promedio">Promedio: </label>
  <input type="text" [(ngModel)]="promedio" name="promedio" id="promedio" readonly>
</div>


<router-outlet></router-outlet>
